/*  */
body{
  background-color: #008B8B;
}

#logo{
  border-radius: 60px;
  background-image:none;
  height: 200px;
  width: 260px;
}

/* Align text to the center */
.center{
  text-align: center;
}

#rulesTitle{
  font-weight: bold;
  font-size: 25px;
}

#rulesText{
  font-size: 15px;
}

/* Left box */
#leftContainer {
   float:left;
   border-radius: 25px;
   background-color: white;
   height: 280px;
   width: 150px;
   border: 5px solid #008B8B;
   padding: 50px;
   margin: 20px;
}

.textBoxes{
  border-radius: 5px;
  height: 15px;
  width: 120px;
}
/* Right box */
#rightContainer {
   float:right;
   border-radius: 25px;
   background-color: white;
   height: 280px;
   width: 150px;
   border: 5px solid #008B8B;
   padding: 50px;
   margin: 20px;
}

/* Rules button */
#buttonRules {
  background-color: #008B8B;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 23px;
  cursor: pointer;
}

/* Modal box */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* 1x1 button */
#button1x1 {
  background-color: #008B8B;
  border-radius: 10px;
  border: none;
  color: white;
  height: 80px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px;
  cursor: pointer;
}

/* 1xpc button */
#button1xpc {
  background-color: #008B8B;
  border-radius: 10px;
  border: none;
  color: white;
  height: 80px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px;
  cursor: pointer;
}

/* logout button */
#buttonLogout {
  background-color: #008B8B;
  border-radius: 10px;
  border: none;
  color: white;
  height: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 50px;
  right: 60px;
  cursor: pointer;
}

/* username on logout */
#userLogout {
  color:#FFFFFF;
  font-size: 15px;
  position:absolute;
  top:8px;
  right:10px;
}

#board{
  float:left;
  background-color: white;
  height: 300px;
  width: 800px;
  border: 5px solid #008B8B;
  padding: 40px;
  margin: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.centerGame{
  float: center;
  padding: 220px;
}

#giveUp{
  background-color: #008B8B;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 23px;
  cursor: pointer;
}
